@import "./header.css";
@import "./main.css";
@import "./footer.css";

.main-wrap {
	background-color: rgb(111, 140, 174);
	width: 995px;
	padding: 0;
	margin: auto;
}
body {
	font-family: 'Teko', sans-serif;
}