@import "./center/date-section.css";
@import "./center/alarm-section.css";
@import "./center/flight-section.css";
@import "./center/schedule-section.css";
@import "./center/burn-section.css";
@import "./center/bellow Burn title.css";

.background-element__image {
	width: 100%;
}
