@import "./content/header-font.css";

.params {
	display: flex;
	flex-direction: row;
}
.params-element {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 80px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 20%;
	padding: 2px 0 0 2px;
}
