.header-nav {
	display: flex;
	width: 995px;
	padding: 0;
}
.header-nav__element {
	background: linear-gradient(rgb(127, 150, 188), rgb(84, 111, 139));
	width: 20%;
	border: 2px solid rgb(93, 118, 149);
	padding: 3px 10px 3px 10px;
}
