.main-row .third .event--1 {
	width: 7%;
	left: 12%;
}
.main-row .third .event--2 {
	width: 8%;
	left: 24.8%;
}
.main-row .third .event--3 {
	width: 6%;
	left: 35%;
}
.main-row .third .event--4 {
	width: 10%;
	left: 43%;
}
.main-row .third .event--5 {
	width: 9%;
	left: 56%;
}
.main-row .third .event--6 {
	width: 13%;
	left: 66%;
}
.main-row .third .event--7 {
	width: 6%;
	left: 87%;
}