.main-row .second .event--1 {
	width: 5%;
	left: 12%;
}
.main-row .second .event--2 {
	width: 5%;
	left: 20%;
}
.main-row .second .event--3 {
	width: 6%;
	left: 37%;
}
.main-row .second .event--4 {
	width: 4%;
	left: 47%;
}
.main-row .second .event--5 {
	width: 7%;
	left: 64%;
}
.main-row .second .event--6 {
	width: 4%;
	left: 73%;
}
.main-row .second .event--7 {
	width: 6%;
	left: 87%;
}