.main-row .fifth .event--1 {
	width: 0.5%;
	left: 36%;
}
.main-row .fifth .event--2 {
	width: 0.5%;
	left: 57.8%;
}
.main-row .fifth .event--3 {
	width: 0.5%;
	left: 68.5%;
}
.main-row .fifth .event--4 {
	width: 0.5%;
	left: 73%;
}
.main-row .fifth .event--5 {
	width: 0.5%;
	left: 82%;
}