.main-row .fifth .event--1 {
	width: 0.6%;
	left: 12%;
}
.main-row .fifth .event--2 {
	width: 0.6%;
	left: 24.8%;
}
.main-row .fifth .event--3 {
	width: 0.6%;
	left: 35%;
}
.main-row .fifth .event--4 {
	width: 0.6%;
	left: 43%;
}
.main-row .fifth .event--5 {
	width: 0.6%;
	left: 56%;
}