.schedule {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.schedule-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(103, 131, 163);
	height: 60px;
	border-right: 2px solid rgb(93, 118, 149);
	border-top: 2px solid rgb(93, 118, 149);
	margin: 0 0 2px 2px;
	width: 100% - 2px;
	color: rgb(240, 254, 254);
}
.schedule-graph {
	background-color: rgb(103, 131, 163);
	height: 120px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 100% - 2px;
	display: flex;
	flex-direction: row;
}