.alarm {
	padding: 0;
	width: 100% - 2px;
	margin: 0;
}
.alarm__title {
	background: linear-gradient(rgb(127, 150, 188), rgb(83, 109, 137));
	height: 60px;
	border-right: 2px solid rgb(93, 118, 149);
	border-bottom: 2px solid rgb(93, 118, 149);
	margin: 2px 0 0 2px;
	width: 100% - 2px;
	padding: 2px 0 0 2px;
}
