@import "./date/section2.css";
@import "./date/section3.css";
@import "./date/section4.css";

.date-time{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.date-day {
	font-family: 'Teko', sans-serif;
	text-transform: capitalize;
	color: rgb(240, 254, 254);
	margin: 0;
	padding-left: 20px;
	width: 110px;
}
.get-time {
	font-family: 'Teko', sans-serif;
	color: rgb(240, 254, 254);
	padding-left: 20px;
	width: 210px;
	margin: 0;
	font-size: 5em;
	font-weight: 300;
	line-height: 60px;
}

