@import "./schedule/timeLine.css";
@import "./schedule/list.css";

.schedule-title div:nth-of-type(1) {
	font-size: 2em;
	text-transform: capitalize;
	padding-left: 20px;
}
.schedule-title div:nth-of-type(2) {
	font-size: 1.5em;
	text-transform: uppercase;
	padding-right: 20px;
}
.fa-chevron-down {
	padding: 10px 0 10px 10px;
}

.schedule-graph__time {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-size: 1.2em;
	padding-left: 20px;
}
.schedule-graph__time p {
	color: rgb(240, 254, 254);
	margin: 0;
}
