.alarm {
	height: 100px;
	background-color: rgb(104, 132, 164);
	border: 2px solid rgb(93, 118, 149);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 995px;
}
.alarm-count {
	color: rgb(200, 238, 241);
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
.alarm-info {
	color: rgb(217, 244, 245);
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
