.title {
	padding: 0;
	background-color: rgb(131, 160, 198);
	display: flex;
	width: 995px;
}
.title-element__left {
	padding-left: 10px;
	display: flex;
	align-self: flex-start;
	width: 60%;
	border: 2px solid rgb(111, 140, 174);
}
.title-element__right {
	display: flex;
	align-self: flex-start;
	padding-left: 10px;
	width: 40%;
	border: 2px solid rgb(111, 140, 174);
}
