.flight-time {
	height: 150px;
	padding: 0;
	width: 100%;
	display: flex;
}
.flight-time__time {
	width: 50%;
	border: 2px solid rgb(93, 118, 149);
	background: linear-gradient(rgb(127, 150, 188), rgb(84, 111, 139));
}
.flight-time__time-element {
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	height: 50%;
	border: 2px solid rgb(111, 140, 174);
}
.flight-time__element {
	width: 50%;
	border: 2px solid rgb(93, 118, 149);
	background: linear-gradient(rgb(127, 150, 188), rgb(84, 111, 139));
}

.breakout {
	width: 50%;
	border: 2px solid rgb(93, 118, 149);
	background: linear-gradient(rgb(127, 150, 188), rgb(84, 111, 139));
}
.breakout-time {
	height: 50%;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}
.breakout-speed {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}